@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

:root {
    --img-size: 150px
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    transition: top 0.3s;
}

body {
    height: fit-content;
    background-color: rgba(255, 205, 107, 0.5);
}

.header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .header-logo {
    height: auto;
    width: 150px;
}
.navbar a {
    position: relative;
    color: black;
    font-size: 16px;
    font-weight: 550;
    text-decoration: none;
    margin-right: 30px;
}

li {
    list-style-type: none;
    display: inline-block;
}

li > a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
  
li > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: 0.3s;
    transform: translateY(10px);
}
  
li > a:hover::after, li > a.active-nav::after {
    width: 100%;
    background: black;
    transform: translateY(0px);
    opacity: 1;
}

.signin-btn {
    background-color: lightgrey;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.signin-btn:hover {
    cursor: pointer;
}


#user-account {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

#user-account option {
    font-size: 16px;
    font-weight: bold;
    background-color: #FFCD6B;
    color: black;
}

.container-general{
    margin-top: 4%;
    margin-bottom: 20%;
    position: relative;
    padding: 10px 2.5%;
    display: flex;
    justify-content: center;
}

.payment {
    background-color: white;
    padding: 30px;
    margin: 5% 0px;
    border: none;
    outline: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    background-color: #FFCD6B;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.QR-Code {
    width: 250px;
    height: 250px;
    background-image: url('../image/QR-Code.png');
    background-size: cover;
}

.congrats {
    width: 250px;
    height: 250px;
    background-image: url('../image/congrats.png');
    background-size: cover;
}

.footer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: #474745;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.group-id {
    font-style: italic;
    text-align: center;
    background-color: #474745;
    color: white;
}