@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

:root {
    --img-size: 150px
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    transition: top 0.3s;
}

body {
    height: 100vh;
}

.header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .header-logo {
    height: auto;
    width: 150px;
}
.navbar a {
    position: relative;
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 30px;
}

li {
    list-style-type: none;
    display: inline-block;
}

li > a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  
  li > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: 0.3s;
    transform: translateY(10px);
  }
  
  li > a:hover::after, li > a.active-nav::after {
    width: 100%;
    background: black;
    transform: translateY(0px);
    opacity: 1;
  }

#admin-account {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

#admin-account option {
    font-size: 16px;
    font-weight: bold;
    background-color: #FFCD6B;
    color: black;
}

.container-general{
    background-color: rgba(255, 205, 107, 0.5);
    margin-top: 9%;
    height: 100%;
    position: relative;
    padding: 10px 2.5%;
    display: flex;
    flex-direction: row;
}

.schedule {
    border: none;
    outline: none;
    width: 95%;
    height: fit-content;
    padding: 30px;
    margin: 10px 0px;
    background-color: white;
}

h4 {
    margin: 20px 0px;
    font-size: 36px;
}

table, tr, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}

tr:first-child {
    background-color: #FFCD6B;
  }
  
tr:nth-child(odd):not(:first-child) {
    background-color: lightgray;
}

td {
    text-align: right;
}

.footer {
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #474745;
    padding: 25px 5%;
    color: white;
}

.group-id {
    font-style: italic;
}
