@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

:root {
    --img-size: 150px
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    transition: top 0.3s;
}

body {
    height: 100vh;
}

.header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .header-logo {
    height: auto;
    width: 150px;
}
.navbar a {
    position: relative;
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 30px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: goldenrod;
    border-radius: 5px;
    transform: translateY(10px);
    transition: 0.5s;
}

.navbar a:hover::after{
    transform: translateY(0px);
    opacity: 1;
}

#admin-account {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

#admin-account option {
    font-size: 16px;
    font-weight: bold;
    background-color: #FFCD6B;
    color: black;
}

.container-general{
    background-color: rgba(255, 205, 107, 0.5);
    margin-top: 9%;
    position: relative;
    padding: 10px 2.5%;
}

.driver {
    display: inline-block;
    width: 30%;
    height: 280px;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px 1.5%;
    background-color: white;
    border: 1px solid #FFCD6B;
    border-radius: 15px;
    font-size: 18px;
}

.attribute-name {
    font-weight: bold;
}

.add-button{
    width: 80px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 1.5%;
    background-color: #FFCD6B;
    color: black;
}

.edit-button,
.delete-button {
    width: 80px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 70px;
    background-color: #FFCD6B;
    color: black;
}

.delete-button {
    margin-left: 10px;
}

.footer {
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #474745;
    padding: 25px 5%;
    color: white;
}

.group-id {
    font-style: italic;
}

